@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.blinking-cursor {
  display: inline-block;
  width: 1px;
  height: 1em;
  background-color: #333;
  animation: blink 1s step-start infinite;
  margin-left: 1px;
}
